@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --COLOR_PRIMARY: #005ee6;
        --COLOR_PRIMARY_DARK: #0043a3;
        --COLOR_PRIMARY_LIGHT: #0069ff;
        --COLOR_BACKGROUND: #f5f5f5;
        --COLOR_CARD: #ffffff;
        --COLOR_TEXT: #050505;
        --COLOR_BORDER: #d3d3d3;
        --COLOR_SHADOW: #d3d3d3;
        --COLOR_OVERLAY: rgba(255, 255, 255, 0.7);
    }

    [data-theme='dark'] {
        --COLOR_PRIMARY: #005ee6;
        --COLOR_PRIMARY_DARK: #0043a3;
        --COLOR_PRIMARY_LIGHT: #0069ff;
        --COLOR_BACKGROUND: #1f1f1f;
        --COLOR_CARD: #303030;
        --COLOR_TEXT: #f5f5f5;
        --COLOR_BORDER: #505050;
        --COLOR_SHADOW: #cbcbcb;
        --COLOR_OVERLAY: rgba(0, 0, 0, 0.7);
    }

    body {
        color: var(--COLOR_TEXT);
        background-color: var(--COLOR_CARD);
        font-family: arial,sans-serif;
        overflow-x: hidden;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    /* width */
    ::-webkit-scrollbar {
        height: 5px;
        width: 5px;
        border-radius: 3px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: var(--COLOR_BORDER);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: gray;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: gray;
    }
}
